name: Cartão de Crédito Santander

on:
  schedule:
    - cron: "*/5 * 4-10 * *"  # a cada 5 minutos, dias 4, 5, 6, 7, 8, 9, 10 do mês
  workflow_dispatch:          # permite correr manualmente

jobs:
  run-python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run Cartão de Crédito Santander
        run: python cartao_credito_santander.py
        env:
          NOTION_TOKEN: ${{ secrets.NOTION_TOKEN }}

      - name: Run Valor Cartão Crédito Santander
        run: python valor_cartao_credito_santander.py
        env:
          NOTION_TOKEN: ${{ secrets.NOTION_TOKEN }}

      - name: Run Cartão de Crédito Universo
        run: python cartao_credito_universo.py
        env:
          NOTION_TOKEN: ${{ secrets.NOTION_TOKEN }}

      - name: Run Valor Cartão Crédito Universo
        run: python valor_cartao_credito_universo.py
        env:
          NOTION_TOKEN: ${{ secrets.NOTION_TOKEN }}

      - name: Run Cartão de Crédito Oney
        run: python cartao_credito_oney.py
        env:
          NOTION_TOKEN: ${{ secrets.NOTION_TOKEN }}

      - name: Run Valor Cartão Crédito Oney
        run: python valor_cartao_credito_oney.py
        env:
          NOTION_TOKEN: ${{ secrets.NOTION_TOKEN }}